{{define "header"}}
<html>
  <head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Dynamic geo assets API</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/static/mettemplate/stylesheets/normalize.css">
    <link rel="stylesheet" href="/static/mettemplate/stylesheets/skeleton.css">
    <link rel="stylesheet" href="/static/mettemplate/stylesheets/custom.css">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="/static/mettemplate/images/met_favicon.png">

    <style></style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="one-column" style="margin-top: 5%">
          {{template "navigation"}}
          <br>
{{end}}