{{define "changelog"}}
{{template "header"}}
<h2>Changelog</h2>
<table>
    <tr><th width="15%">Date</th><th width="85%"> </th></tr>
    <tbody>
      <tr>
        <td><time datetime="2020-01-28">2020-01-28</time></td>
        <td><h3>Beta version released</h3>
            <p>Happy day! The first version of Dynamic geoassets API has been released. Its in Beta status though, so expect sudden changes and possibly breaking api changes without notice.</p>
            <p>We expect the API to stabilize and release a GA version of the service in a few months time.</p>
        </a></td>
      <tr>
    </tbody>
  </table>


{{template "footer"}}
{{end}}